/*CSS */

/*---main content---*/
#mainContent{width:600px; float:left; border-left:1px solid #C8E8E2; margin:2px 0 0; padding:0 25%;}
#mainContent p{padding:0 0 1px 0; font-family:Microsoft JhengHei;font-size:14px;text-indent:2em;color:#808080;}
#mainContent p span{float:left;width:1.2em;font-size:200%}
h3{font-family:LiSu,KaiTi,Sans-serif;padding :10 25%;color:#778899}
